In [1]:
import numpy as np
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Apply label encoding for Gender
encoder=LabelEncoder()
data['Gender']=encoder.fit_transform(data['Gender'])

In [5]:
print("Class Mapping:")
for cls, val in zip(encoder.classes_, range(len(encoder.classes_))):
    print(f"{cls} → {val}")

Class Mapping:
Female → 0
Male → 1

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [7]:
one_hot_encoder=OneHotEncoder()
geo_encoder=one_hot_encoder.fit_transform(data[['Geography']]).toarray()
geo_encoded=pd.DataFrame(geo_encoder,columns=one_hot_encoder.get_feature_names_out(['Geography']))

In [8]:
geo_encoded.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [9]:
df=pd.concat([data,geo_encoded],axis=1)

In [10]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
df.drop(['Geography'],axis=1,inplace=True)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [15]:
# save the encoders and scalers
with open('encoder_Gender_reg.pkl','wb') as file:
    pickle.dump(encoder,file)

with open('one_hot_Geo_reg.pkl','wb') as file:
    pickle.dump(one_hot_encoder,file)

with open('scaler_reg.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN Regression problem Statement

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
# Build Model\
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train_scaled.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)])

C:\Users\Prajwal\anaconda\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [18]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
# Complie the model
from tensorflow.keras.losses import MeanAbsoluteError
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt, loss=MeanAbsoluteError(), metrics=['mae'])

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# setup Tensorboard
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)
early_stopping=EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [21]:
# train Model
history=model.fit(
    X_train_scaled,y_train,
    validation_data=(X_test_scaled,y_test),
    epochs=100,
    callbacks=[tensorboard_callback,early_stopping])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 10s 13ms/step - loss: 94491.2500 - mae: 94491.2500 - val_loss: 51025.3594 - val_mae: 51025.3594
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 17ms/step - loss: 50018.3672 - mae: 50018.3672 - val_loss: 50284.9297 - val_mae: 50284.9297
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49767.8438 - mae: 49767.8438 - val_loss: 50407.3203 - val_mae: 50407.3203
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 50002.1094 - mae: 50002.1094 - val_loss: 50286.5273 - val_mae: 50286.5273
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49928.7500 - mae: 49928.7500 - val_loss: 50308.3828 - val_mae: 50308.3828
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49757.7305 - mae: 49757.7305 - val_loss: 50256.7617 - val_mae: 50256.7617
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49471.7227 - mae: 49471.7227 - val_loss: 50439.1133 - val_mae: 50439.1133
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49344.8828 - mae: 49344.8828 - val_loss: 50280.6094 - val_mae: 50280.6094
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49092.9883 - mae: 49092.9883 - val_loss: 50306.0078 - val_mae: 50306.0078
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49424.1094 - mae: 49424.1094 - val_loss: 50428.7031 - val_mae: 50428.7031
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49263.6680 - mae: 49263.6680 - val_loss: 50255.0039 - val_mae: 50255.0039
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49065.8789 - mae: 49065.8789 - val_loss: 50370.3125 - val_mae: 50370.3125
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49354.5391 - mae: 49354.5391 - val_loss: 50390.3516 - val_mae: 50390.3516
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 48864.0000 - mae: 48864.0000 - val_loss: 50399.5039 - val_mae: 50399.5039
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49501.9102 - mae: 49501.9102 - val_loss: 50384.9414 - val_mae: 50384.9414
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49079.8672 - mae: 49079.8672 - val_loss: 50336.9453 - val_mae: 50336.9453
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49188.1719 - mae: 49188.1719 - val_loss: 50426.7656 - val_mae: 50426.7656
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49735.7969 - mae: 49735.7969 - val_loss: 50487.2188 - val_mae: 50487.2188
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 48982.5938 - mae: 48982.5938 - val_loss: 50579.5195 - val_mae: 50579.5195
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49038.1016 - mae: 49038.1016 - val_loss: 50575.0742 - val_mae: 50575.0742
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49307.0547 - mae: 49307.0547 - val_loss: 50453.6445 - val_mae: 50453.6445

In [22]:
# Evaluate the model
%load_ext tensorboard

In [26]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 6404), started 0:29:21 ago. (Use '!kill 6404' to kill it.)

In [27]:
# Evaluate the model on the test data
test_loss, test_mae=model.evaluate(X_test_scaled,y_test)
print(f"The MAE:{test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 50870.7305 - mae: 50870.7305
The MAE:50255.00390625

In [28]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.